@import 'colors';

.swiper3 {
  width: 100%;
  height: 18rem;
  margin-top: auto;
}
.cast__card {
  display: flex;
  flex-direction: column;
  background: white;
  width: 250px;
  height: 100%;
  border-radius: 0.5rem;
}

.cast__pic-wrap {
  flex: 1 0 100%;
  min-height: 75%;
  max-height: 75%;
  max-width: 100%;
  overflow: hidden;
    
  .cast__pic {
    min-height: 100%;
  }
}

.cast__names {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0.3rem 0.1rem;
}

.name {
  font-size: 1rem;
  font-family: sans-serif;
}