@import 'colors';

.carousel__wrap {
  position: relative;
  border-bottom: 1px solid $light-grey;

  &::after {
    content: '';
    display: block;
    box-shadow: inset 0 -10rem 20rem $dark-grey;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    pointer-events: none;
  }
}

img {
  flex: 1 0 100%;
  min-height: 100%;
  width: 100%;
  max-width: 125%;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.banner__info {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  z-index: 3;
  padding: 5rem 14%;
  background: rgba($dark-grey, 0.5);
}

.banner__title {
  font-size: 5rem;
  font-weight: 300;
  margin: 0;
  color: $primary;
  text-align: left;
}

.banner__rating {
  background: $dark-grey;
  padding: 0.1rem 0.8rem;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: auto;
  color: $primary-light;
  opacity: 0.9;
}

.banner__date {
  font-size: 1.6rem;
  color: white;
}

.banner__text {
  font-size: 2.4rem;
  max-width: 600px;
  line-height: 1.3;
  text-align: left;
  margin-bottom: 1rem;
  color: white;
}

.previous__button,
.next__button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding-bottom: 5px;
  height: 4rem;
  width: 4rem;
  background: white;
  border: none;
  font-size: 3rem;
  text-align: center;
  box-shadow: 0 0 0.7rem rgba(white, $alpha: 1);
  opacity: 0.6;
  border-radius: 50%;
  transition: all 0.2s ease-out;

  &:hover {
    cursor: pointer;
    opacity: 0.95;
    background: white;
    box-shadow: 0 0rem 1rem rgba(white, $alpha: 1);
  }

  &:active,
  &:focus {
    outline: none;
  }
}

.previous__button {
  left: 5%;
}

.next__button {
  right: 5%;
}

// Swiper carousel styles

.swiper-container {
  width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  position: relative;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  max-height: 65rem;
}

.swiper-pagination-bullet {
  background-color: $light-grey;
}

.swiper-pagination-bullet-active {
  background-color: $primary-light;
  box-shadow: 0 0 1rem $primary;
}