@import './partials/colors.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
}

html,
body {
  width: 100%;
  height: auto;
  background: rgb(142, 149, 156);
  background: radial-gradient(at top, $light-grey -50%, $dark-grey 100%);
}
